page-home { 
  body {
    font-family: 'Open Sans', sans-serif;
  } 
  * {
    padding: 0;
    margin: 0;
  }
  ion-app.md [padding] {
    padding: 0px !important;
  }

  ion-app.md [padding] .scroll-content {
    padding: 0px !important;
  }
  .darkBluePolygon {
    height:736px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 36%, 0 46%);
    clip-path: polygon(0 0, 100% 0, 100% 36%, 0 46%);
    background-color: $blueColor;
  }
  #firstTitle {
    padding: 39px 0 0 $horizontalSideSpace;
    color: $orangeColor;
    font-weight: normal;
    font-size: 20px;
  }
  #selectedCity {
    font-size: 40px;
    color: $orangeColor;
    font-weight: bold;
    padding-left: $horizontalSideSpace;
  }

  .selectedCityLine {
    width: 150px;
    background-color: $fadedGreyColor;
    margin-left: $horizontalSideSpace;
    margin-top: 3px;
  }

  .homePagelogo {
    float: right;
    width: 110px;
    margin-top: 39px;
    margin-right: $horizontalSideSpace;
  }

  .titleDiv {
    display: inline-block;
  }

  .signupLine {
    color: $orangeColor;
    font-size: 15px;
    margin: 48px 0 0 $horizontalSideSpace;

  }
}
