page-gi-start-game {

    #map {
        height: 350px;
        width: 100%;
        //background: black;
    }
    ion-nav.has-views {
      background-color: transparent !important;
      }

      ion-app.gmapscdv_ .nav-decor{
      background-color: transparent !important;
      }

    #slide {
        position: relative;
        float: right;
        color: rgba(148, 151, 153, 0.45);
      }

      #noGpsIcon {
        float: left;
        width: 40px;
        position: relative;
        top: 50%;
        margin-top: -24.25px;
      }

      .noGpsContainer {
          height: auto;
          width: auto;
          padding: 5px;
          background: white;
          box-shadow: 0px 0px 10px white;
      }

      .separateLine {
        background: $fadedGreyColor;
        margin: 2px 0;
    }

    .leftSide {
        margin-left: $horizontalSideSpace;
    }

    .rightSide {
        margin-right: $horizontalSideSpace;
    }

    .separateRow {
        height: 24px;
    }

    .firstColumn {
        padding-right: 0px;
    }

    .gameDetailsIcon {
        position: relative;
        top: 3px;
    }

    .secondColumn {
        padding-left: 0px;
    }

    .gameDetailsInformationTitle {
        font-weight: bold;
        margin: 2px 0;
        font-size: 12px;
      }

      .gameDetailsInformationValue {
        margin: 3px 0;
        float: right;
        font-size: 12px;
    }

    .cityUp {
        padding-top: 0px;
    }

      .streetDown {
        padding-bottom: 0px;
    }

    .information {
        text-align: justify;
        margin-bottom: 150px;
    }

    .bottomContainer {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
    }

    .nextArrow {
        top: 1.5px;
        position: relative;
    }
}
