page-game-description {
    * {
        font-family: 'Open Sans', sans-serif;
    }

    .leftSideSpace {
        margin-left: $horizontalSideSpace;
    }

    .rightSideSpace {
        margin-right: $horizontalSideSpace;
    }

    .descriptionImgContainer {
        border: 1px solid rgba(148, 151, 153, 0.45);
        width: 150px;
        padding: 8px 7px 4px 7px;
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
        margin: 20px auto;
    }

    .descriptionImg {
        width: auto;
    }

    .descriptionContent {
        font-size: 12px;
        line-height: 1.5em;
        text-align: justify;
        
    }

    .moreMargin {
        margin-bottom: 150px;
    }

    .slide {
      float: right;
      color: $orangeColor;
    }

    .bottomContainer {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
    }

    .nextArrow {
        top: 1.5px;
        position: relative;
    }
}
