page-gi-word-search {
    * {
        font-family: 'Open Sans', sans-serif;
      }
    
    .leftSideSpace {
        margin-left: $horizontalSideSpace;
    }

    .rightSideSpace {
        margin-right: $horizontalSideSpace;
    }

    .giWordSearchContent {
        text-align: justify;
    }

    .giWordSearch {
        font-size: 12px;
        line-height: 1.5em;
        text-align: justify;
    }

    .wordSearchPad {
        width: 225px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 150px;
    }

    .wordSearchItem {
        width: 75px;
        height: 75px;
        background: $blueColor;
        border: 1px solid $fadedGreyColor;
        float: left;
    }

    .wordSearchLetter {
        color: $orangeColor;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin: 27.5px 0px;
    }

    .clearFloat {
        clear: both;
    }

    #slide {
        float: right;
        color: rgba(148, 151, 153, 0.45);
      }

      .bottomContainer {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
    }

    .nextArrow {
        top: 1.5px;
        position: relative;
    }
}
