page-log-in-screen {
    #contentContainer {
        background: $blueColor;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .pageLogo {
        width: 86px;
        margin-left: -43px;
        position: relative;
        left: 50%;
        margin-top: 25px;
    }

    .pageTitle {
        color: $orangeColor;
        font-weight: 900;
        text-align: center;
        font-size: 23px;
        margin-bottom: 35px;
    }

    .leftSide {
        margin-left: $horizontalSideSpace;
    }

    .rightSide {
        margin-right: $horizontalSideSpace;
    }

    .inputContainer {
        margin-top: 10px;
        background: none;
        padding-left: 0;
    }

    .inputContainer .item-inner {
        border-bottom: 1px solid $fadedGreyColor !important;
    }

    .inputContainer .text-input {
        margin-left: 5px;
        margin-bottom: 3PX;
        color: $orangeColor;
    }

    .inputField {
        width: 100%;
    }

    .signupButton {
        text-transform: uppercase;
        width: 100%;
        margin: 40px 0 10px 0;
        border-radius: 10px;
        font-weight: 900;
        letter-spacing: 0.5px;
        padding: 20px 0;
    }

    .logInForward {
        color: $orangeColor;
        text-align: center;
        margin: 0 0 30px 0;
    }
}
