page-gi-rate-screen {
    #screenTitle {
        text-align: center;
        font-size: 25px;
        letter-spacing: 0.5px;
        margin-top: 150px;
        margin-bottom: 80px;
        font-weight: 900;
    }

    .starsContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }

    .stars {
        width: 40px;
        height: 40px;
        //-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        //clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        //border: 2px solid black;
    }

    .leftSide {
        margin-left: $horizontalSideSpace;
    }

    .rightSide {
        margin-right: $horizontalSideSpace;
    }

    .information {
        text-align: center;
    }

    .signUp {
        font-weight: 900;
        color: $orangeColor;
    }
}
